@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html, body, .App{
    height: 100vh;
    margin: 0;
    padding: 0;
}
div {
    font-family: 'Poppins', sans-serif;
}
.Login {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    text-decoration: none;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    text-align: center;
}

.Dash{
    height: 97vh;
}

.dashboard {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-top: 10px;
    gap : 2rem;
}